name: CI
on:
  pull_request:
    branches:
      - main
    paths:
      - "**.yml"
      - "tests/**"
jobs:
  format:
    name: Check format
    uses: ./.github/workflows/prettier.yml
    with:
      pattern: "**/*.yml"

  test-beautysh:
    name: Test workflow (beautysh)
    needs: format
    uses: ./.github/workflows/beautysh.yml
    with:
      dir: tests/workflows
      params: --force-function-style fnpar --indent-size 2 --variable-style braces
      exclude: tests/workflows/excluded.sh,*pattern.sh

  test-mkdocs:
    name: Test workflow (mkdocs)
    needs: format
    uses: ./.github/workflows/mkdocs.yml
    with:
      plugins: mkdocs-literate-nav
      params: --strict

  test-php-cs-fixer:
    name: Test workflow (php-cs-fixer)
    needs: format
    uses: ./.github/workflows/php-cs-fixer.yml
    with:
      params: --dry-run -v --rules=@Symfony .

  test-prettier:
    name: Test workflow (prettier)
    needs: format
    uses: ./.github/workflows/prettier.yml
    with:
      pattern: "**/*.json"

  test-shellcheck:
    name: Test workflow (shellcheck)
    needs: format
    uses: ./.github/workflows/shellcheck.yml
    with:
      dir: tests/workflows
      severity: info
